@page "{searchString?}"
@model IndexModel

@{
    ViewData["Title"] = "Allocations";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form>
    <p>
        Search product or bin: <input type="text" asp-for="SearchString"/>
        <input type="submit" value="Filter"/>
    </p>
</form>
<table class="table">
    <thead>
    <tr>
        <th>
            Product
        </th>
        <th>
            Bin
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allocations[0].Quantity)
        </th>
        <th>
            Created Date
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Allocations)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Product.Code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Bin.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Quantity)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.AllocationID">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.AllocationID">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.AllocationID">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>