@page
@model InventoryApp.Pages.Product.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="./create" class="btn btn-primary">Create New Product</a>
</p>


<div class="container">
    <div class="row">
        @foreach (var item in Model.Product)
        {
            <div class="col-md-3 m-3">
                <div class="card" style="width: 18rem;">
                    <div class="card-body">
                        <h5 class="card-title">@item.Code</h5>
                        <h5 class="card-title">@item.Description</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Price: @item.Price $</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Nominal weight: @item.NominalWeight</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Unit of measure: @item.UnitOfMeasure</h6>
                        <a asp-page="./edit" asp-route-id="@item.ProductID" class="btn btn-primary">Edit</a>
                        <a asp-page="./delete" asp-route-id="@item.ProductID" class="btn btn-danger">Delete</a>

                    </div>
                </div>
            </div>
        }
    </div>
</div>